<footer class="site-footer">
	<nav class="footer-navigation">
		<a href="/" 						style="transition-delay: .2s;" class="{% if page.url == '/' %}active{% endif %}">Home</a>
		<a href="{{site.baseurl}}{{site.why_artis_url}}" 				class="{% if page.url == site.why_artis_url %}active{% endif %}" >Why Artis</a>
		<a href="{{site.baseurl}}{{site.products_and_services_url}}" 	class="{% if page.url == site.products_and_services_url %}active{% endif %}" >PRODUCTS & SERVICES</a>
		<a href="{{site.baseurl}}{{site.contact_url}}" 					class="{% if page.url == site.contact_url %}active{% endif %}" >Contact</a>
	</nav>
	<aside class="credits">
		CREATED BY <a href="https://jovansavic.com/" target="_blank" class="">JOVAN.DESIGN</a>
	</aside>
</footer>