<section class="about-section" id="about-section">
	<div class="about-section-wrap">
		<div class="about-image" style="background-image: url('{{site.baseurl}}/assets/img/about-image.jpg')" data-animate data-parallax-effect="-"></div>
		<div class="text-wrap" >
			<div class="cool-text" data-delay="1" data-bgc="rgba(0,0,0, .91)">
				<div class="span-wrap" data-animate>
					<span></span>
				</div>
				<p class="text">{{site.about_section_paragraph01}}</p>
			</div>
			<div class="cool-text mt-m" data-delay="1.2" data-bgc="rgba(0,0,0, .91)">
				<div class="span-wrap" data-animate>
					<span></span>
				</div>
				<p class="text">{{site.about_section_paragraph02}}</p>
			</div>
		</div>
	</div>
</section>