<section class="contact-section" id="contact-section">
	<h1 class="contact-section-title">
		Ask anything
	</h1>
	<div class="contact-wrap">
		<form action="">
			<div class="form-item-wrap w-50 mb-s">
				<label for="name">Name</label>
				<input type="text" id="name" placeholder="John">
			</div>
			<div class="form-item-wrap w-50 mb-s">
				<label for="email">Email</label>
				<input type="text" id="email" placeholder="johndoe@mail.com">
			</div>
			<div class="form-item-wrap w-100">
				<label for="message">Message</label>
				<textarea name="" id="message" cols="30" rows="5" placeholder="Please let me know if..."></textarea>
			</div>
			<button class="btn arrow-btn btn-outline mt-s mb-m"> <span>SEND MESSAGE </span><i class="material-icons">arrow_forward</i></button>
		</form>
	</div>
</section>