<section class="hero-section">
	<div class="text-section" data-animate>

		<div class="text-section-wrap main-left-padding">

			<div class="cool-text hero-title" data-delay="0">
				<div class="span-wrap" data-animate>
					<span></span>
				</div>
				<h1 class="title text">
					{{site.home_title}}
				</h1>
			</div>


			<div class="cool-text hero-description" data-delay="2">
				<div class="span-wrap" data-animate>
					<span></span>
				</div>
				<p class="text">{{site.home_description}}</p>
			</div>

			<a href="{{site.baseurl}}{{site.contact_url}}" class="btn arrow-btn btn-primary mr-xl"> <span>GET YOU PROJECT DONE </span><i class="material-icons">arrow_forward</i></a>

			<a href="{{site.baseurl}}{{site.why_artis_url}}" class="btn arrow-btn btn-secondary"> <span>WHY ARTIS </span><i class="material-icons">arrow_forward</i></a>
		</div>
	</div>
	<div class="image-section">
		<img src="{{site.baseurl}}/assets/img/hero-image.jpg" title="{{site.title}}, {{site.keywords}}" alt="{{site.keywords}}" data-animate="" data-parallax-effect="-">
	</div>
</section>