<section class="philosophy-section" id="philosophy-section">
	<h2 class="underline-title mb-xxl" data-animate>
		OUR PHILOSOPHY
	</h2>
	<p class="philosophy-description mb-xxl" data-animate>
		The passion for innovation and remarkable results brought them together and here is how ARTIS came to life.Creating is about new dimensions , thinking forward, transforming, pushing boundaries in long hours of work. Name it art and trust that your project will be in safe hands here.
	</p>
	<a href="" class="btn arrow-btn btn-primary mr-xl"> <span>CONTACT INFO </span><i class="material-icons">arrow_forward</i></a>
</section>