<section class="services-section" id="services-section">
	<h2 class="services-title" data-animate="">
		Artis’s skilled fabricators can design,
		manufacture and install
	</h2>
	<div class="services-wrap">
		<div class="service-unit mb-xl">
			<div class="service-image" data-animate style="background-image: url('{{site.baseurl}}/assets/img/service01-image.jpg')"></div>
			<div class="service-description">
				<div class="cool-text" data-parallax-effect="-" data-delay="0">
					<div class="span-wrap" data-animate>
						<span></span>
					</div>
					<p class="text">Helical and straight staircases, balustrades, and canopies using materials such as stainless steel, glass, bras, bronze, aluminium</p>
				</div>
			</div>
		</div>
		<div class="service-unit">
			<div class="service-image" data-animate style="background-image: url('{{site.baseurl}}/assets/img/service02-image.jpg')"></div>
			<div class="service-description">
				<div class="cool-text" data-parallax-effect="-" data-delay="0">
					<div class="span-wrap" data-animate>
						<span></span>
					</div>
					<p class="text">Balconies, gates and railings of all kinds in wrought iron and steel.</p>
				</div>
			</div>
		</div>

		<h3 class="other-services pt-xxl pl-l pr-l" data-animate>
			Artis offers as well a large range of protective coatings,satin and mirror finishes on stainless steel, bras and bronze, wax and chemical treatments.
		</h3>
		<div class="text-center mt-l mb-l">
			<a href="" class="btn arrow-btn btn-outline"> <span>CONTACT US </span><i class="material-icons">arrow_forward</i></a>
		</div>
	</div>
</section>