<section class="hero-section">
	<div class="text-section" data-animate>

		<div class="text-section-wrap main-left-padding">

			<h1>
				WHY
				<strong>ARTIS?</strong>
			</h1>
			<div class="cool-text hero-description" data-delay="1">
				<div class="span-wrap" data-animate>
					<span></span>
				</div>
				<p class="text">The passion for innovation and remarkable results brought them together and here is how ARTIS came to life.Creating is about new dimensions , thinking forward, transforming, pushing boundaries in long hours of work. Name it art and trust that your project will be in safe hands here.
				</p>
			</div>
		</div>
	</div>
	<div class="image-section">
		<img src="{{site.baseurl}}assets/img/hero-image-why.jpg" alt="{{site.keywords}}" data-animate="" data-parallax-effect="-">
	</div>
</section>