/* Reset text colors */
h1, h2, h3, h4, h5, h6, p, b, li {
  color: black; }

/* Set Roboto as default font family */
html {
  font-size: 16px; }
  @media (max-width: 776px) {
    html {
      font-size: 14px; } }
  @media (max-width: 380px) {
    html {
      font-size: 12px; } }

body {
  margin: 0rem; }
  @media (max-width: 480px) {
    body {
      margin: 0; } }

* {
  font-family: "Helvetica Neue", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2; }

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

@media (max-width: 1000px) {
  .pad {
    padding-left: 50px;
    padding-right: 50px; } }

@media (max-width: 775px) {
  .pad {
    padding-left: 20px;
    padding-right: 20px; } }

@media (max-width: 340px) {
  .pad {
    padding-left: 10px;
    padding-right: 10px; } }

.w-100-percent {
  width: 100%; }

.mw-1000-px {
  max-width: 1000px; }
  .mw-1000-px.center-container {
    margin: auto; }

.half-width-section {
  width: 50%; }

.main-left-padding {
  padding-left: 6rem; }
  @media (max-width: 776px) {
    .main-left-padding {
      padding-left: 2rem; } }
  @media (max-width: 480px) {
    .main-left-padding {
      padding-left: 0; } }

.main-right-padding {
  padding-right: 6rem; }
  @media (max-width: 776px) {
    .main-right-padding {
      padding-right: 2rem; } }

.cool-text {
  position: relative; }
  .cool-text .text {
    z-index: 999;
    position: absolute;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem; }
  .cool-text .span-wrap {
    z-index: 0;
    top: 0;
    width: 100%;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    transition: .3s;
    transition-delay: .3s; }
    .cool-text .span-wrap.animated span {
      width: 100%; }
    .cool-text .span-wrap span {
      will-change: width;
      display: block;
      width: 0;
      transition: .9s; }

.text-center {
  text-align: center; }

[data-parallax-effect] {
  will-change: transform; }

.mt-xs {
  margin-top: 0.5rem; }

.pt-xs {
  padding-top: 0.5rem; }

.mb-xs {
  margin-bottom: 0.5rem; }

.pb-xs {
  padding-bottom: 0.5rem; }

.ml-xs {
  margin-left: 0.5rem; }

.pl-xs {
  padding-left: 0.5rem; }

.mr-xs {
  margin-right: 0.5rem; }

.pr-xs {
  padding-right: 0.5rem; }

.mt-s {
  margin-top: 1rem; }

.pt-s {
  padding-top: 1rem; }

.mb-s {
  margin-bottom: 1rem; }

.pb-s {
  padding-bottom: 1rem; }

.ml-s {
  margin-left: 1rem; }

.pl-s {
  padding-left: 1rem; }

.mr-s {
  margin-right: 1rem; }

.pr-s {
  padding-right: 1rem; }

.mt-m {
  margin-top: 1.5rem; }

.pt-m {
  padding-top: 1.5rem; }

.mb-m {
  margin-bottom: 1.5rem; }

.pb-m {
  padding-bottom: 1.5rem; }

.ml-m {
  margin-left: 1.5rem; }

.pl-m {
  padding-left: 1.5rem; }

.mr-m {
  margin-right: 1.5rem; }

.pr-m {
  padding-right: 1.5rem; }

.mt-l {
  margin-top: 2rem; }

.pt-l {
  padding-top: 2rem; }

.mb-l {
  margin-bottom: 2rem; }

.pb-l {
  padding-bottom: 2rem; }

.ml-l {
  margin-left: 2rem; }

.pl-l {
  padding-left: 2rem; }

.mr-l {
  margin-right: 2rem; }

.pr-l {
  padding-right: 2rem; }

.mt-xl {
  margin-top: 2.5rem; }

.pt-xl {
  padding-top: 2.5rem; }

.mb-xl {
  margin-bottom: 2.5rem; }

.pb-xl {
  padding-bottom: 2.5rem; }

.ml-xl {
  margin-left: 2.5rem; }

.pl-xl {
  padding-left: 2.5rem; }

.mr-xl {
  margin-right: 2.5rem; }

.pr-xl {
  padding-right: 2.5rem; }

.mt-xxl {
  margin-top: 3rem; }

.pt-xxl {
  padding-top: 3rem; }

.mb-xxl {
  margin-bottom: 3rem; }

.pb-xxl {
  padding-bottom: 3rem; }

.ml-xxl {
  margin-left: 3rem; }

.pl-xxl {
  padding-left: 3rem; }

.mr-xxl {
  margin-right: 3rem; }

.pr-xxl {
  padding-right: 3rem; }

.bg-primary {
  background-color: rgba(0, 0, 0, 0.91); }

.btn-primary {
  background-color: rgba(0, 0, 0, 0.91); }
  .btn-primary:before {
    background-color: rgba(0, 0, 0, 0.91); }

.bg-secondary {
  background-color: #6EBDF8; }

.btn-secondary {
  background-color: #6EBDF8; }
  .btn-secondary:before {
    background-color: #6EBDF8; }

.underline-title {
  position: relative;
  display: inline-block; }
  .underline-title:before {
    position: absolute;
    display: block;
    content: "";
    height: .5rem;
    background: white;
    width: 0;
    bottom: 0;
    left: 0;
    will-change: width;
    transition: 1s; }
  .underline-title.animated:before {
    width: 100%; }

.btn {
  display: inline-block;
  white-space: nowrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  border: 0.4rem solid white;
  position: relative; }
  @media (min-width: 768px) {
    .btn {
      cursor: pointer; } }
  .btn:active {
    outline: none; }
  .btn:focus {
    outline: none; }
  .btn span {
    display: inline-block;
    transition-duration: .3s; }
  .btn:before {
    display: block;
    content: "";
    position: absolute;
    width: .4rem;
    height: 0%;
    right: -.4rem;
    top: calc( 50% - 35%);
    transition: .3s; }
  .btn i {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    transition: .3s; }
  .btn:hover span {
    -webkit-transform: translateX(1.1rem);
            transform: translateX(1.1rem); }
  .btn:hover:before {
    height: 70%; }
  .btn:hover i {
    -webkit-transform: scale(2) translateX(1.1rem);
            transform: scale(2) translateX(1.1rem); }
  .btn.btn-outline {
    border-color: rgba(0, 0, 0, 0.91);
    color: rgba(0, 0, 0, 0.91);
    background: white; }
    .btn.btn-outline i {
      color: rgba(0, 0, 0, 0.91); }
    .btn.btn-outline:before {
      background: white; }

.mobile-header {
  display: none; }

.site-header {
  width: 100%;
  box-sizing: border-box;
  height: 6rem;
  background: white;
  display: -ms-flexbox;
  display: flex; }
  .site-header .logo {
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: 2rem; }
    .site-header .logo h1 {
      font-size: 2rem;
      margin: 0; }
  .site-header .cta-icon {
    width: 6rem;
    height: 6rem;
    background: black;
    display: -ms-flexbox;
    display: flex; }
    .site-header .cta-icon a {
      margin: auto; }
    .site-header .cta-icon i {
      color: white; }

.site-navigation {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto;
  margin-right: 2rem; }
  .site-navigation a {
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
    z-index: 999; }
    .site-navigation a:before {
      position: absolute;
      display: block;
      content: "";
      width: 0;
      will-change: width;
      height: .15rem;
      background: black;
      transition: .3s;
      left: 0;
      bottom: 0; }
    .site-navigation a:hover:before, .site-navigation a.active:before {
      width: 100%; }
    .site-navigation a:first-child {
      margin-left: 0; }

@media (max-width: 768px) {
  .site-header {
    display: none; }
  .mobile-header {
    background-color: white;
    z-index: 1000;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 5rem;
    -ms-flex-pack: justify;
        justify-content: space-between;
    position: relative; }
    .mobile-header .mobile-navigation-wrap {
      left: -100%;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: calc(100vh - 5rem);
      top: 5rem;
      background: black;
      transition: .3s;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: justify;
          justify-content: space-between;
      padding: 2rem; }
      .mobile-header .mobile-navigation-wrap.open-menu {
        left: 0; }
        .mobile-header .mobile-navigation-wrap.open-menu .mobile-navigation a {
          -webkit-transform: translateX(0);
                  transform: translateX(0); }
      .mobile-header .mobile-navigation-wrap .mobile-navigation {
        overflow: hidden; }
        .mobile-header .mobile-navigation-wrap .mobile-navigation a {
          transition: .3s;
          -webkit-transform: translateX(100%);
                  transform: translateX(100%);
          text-transform: uppercase;
          font-weight: 500;
          text-decoration: none;
          color: white;
          font-size: 2rem;
          display: block;
          text-align: right;
          position: relative;
          margin-bottom: 2rem; }
          .mobile-header .mobile-navigation-wrap .mobile-navigation a.active {
            font-weight: 700; }
            .mobile-header .mobile-navigation-wrap .mobile-navigation a.active:before {
              display: block;
              position: absolute;
              content: "";
              height: .3rem;
              width: 100%;
              background-color: white;
              bottom: -.2rem; }
    .mobile-header .mobile-cta-icon {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-item-align: end;
          align-self: flex-end; }
      .mobile-header .mobile-cta-icon i {
        margin-left: 1rem;
        -ms-flex-item-align: center;
            align-self: center;
        color: white; }
    .mobile-header .logo {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 2rem; }
      .mobile-header .logo h1 {
        font-size: 2rem;
        margin: 0; }
    .mobile-header .hamburger-toggle-wrap {
      -ms-flex-item-align: center;
          align-self: center;
      margin-right: 2rem;
      height: 100%;
      display: -ms-flexbox;
      display: flex; }
    .mobile-header .hamburger-toggle {
      -ms-flex-item-align: center;
          align-self: center;
      position: relative;
      height: 4rem;
      width: 4rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      text-align: center;
      cursor: inherit; }
      .mobile-header .hamburger-toggle.animated span {
        width: 2.5rem; }
      .mobile-header .hamburger-toggle.animated span:before {
        width: 3rem; }
      .mobile-header .hamburger-toggle.animated span:after {
        width: 4rem; }
      .mobile-header .hamburger-toggle.open-menu span {
        width: 0;
        background: transparent; }
      .mobile-header .hamburger-toggle.open-menu span:before {
        top: 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        width: 4rem; }
      .mobile-header .hamburger-toggle.open-menu span:after {
        bottom: 0;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .mobile-header .hamburger-toggle span,
      .mobile-header .hamburger-toggle span:before,
      .mobile-header .hamburger-toggle span:after {
        -webkit-transform-origin: center;
                transform-origin: center;
        right: 0;
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: .3rem;
        background: white;
        background: rgba(0, 0, 0, 0.91);
        transition: .3s; }
      .mobile-header .hamburger-toggle span:before {
        top: -1.2rem;
        transition-delay: .2s; }
      .mobile-header .hamburger-toggle span:after {
        bottom: -1.2rem;
        transition-delay: .4s; } }

.site-footer {
  width: 100%;
  height: 16rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.91);
  position: fixed;
  bottom: 0;
  z-index: -999;
  display: -ms-flexbox;
  display: flex; }
  .site-footer .credits {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: .6rem;
    font-weight: 700;
    padding: .4rem;
    border-top: 0.5px solid white; }
    .site-footer .credits a {
      color: white;
      font-size: .6rem;
      font-weight: 700; }
  .site-footer .footer-navigation {
    margin: auto; }
    .site-footer .footer-navigation a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      margin-left: 1rem;
      position: relative; }
      .site-footer .footer-navigation a:before {
        position: absolute;
        display: block;
        content: "";
        width: 0;
        will-change: width;
        height: .15rem;
        background: white;
        transition: .3s;
        left: 0;
        bottom: 0; }
      @media (max-width: 480px) {
        .site-footer .footer-navigation a {
          display: block;
          text-align: center;
          line-height: 2; }
          .site-footer .footer-navigation a.active {
            text-decoration: underline; }
          .site-footer .footer-navigation a:before {
            display: none; } }
      .site-footer .footer-navigation a:hover:before, .site-footer .footer-navigation a.active:before {
        width: 100%; }
      .site-footer .footer-navigation a:first-child {
        margin-left: 0; }

.hero-section {
  width: 100%;
  box-sizing: border-box;
  height: calc( 100vh - 6rem);
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  @media (max-width: 768px) {
    .hero-section {
      height: calc( 100vh - 5rem); } }
  .hero-section .text-section, .hero-section .image-section {
    width: 50%;
    height: 100%; }
  .hero-section .text-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative; }
    .hero-section .text-section:before {
      will-change: width;
      position: absolute;
      display: block;
      content: "";
      width: 0;
      height: 100%;
      background: rgba(0, 0, 0, 0.91); }
    .hero-section .text-section.animated:before {
      -webkit-animation-name: fullWidth;
              animation-name: fullWidth;
      -webkit-animation-duration: 2.5s;
              animation-duration: 2.5s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
    .hero-section .text-section .text-section-wrap {
      display: block;
      width: 100%;
      z-index: 999; }
    .hero-section .text-section .hero-title {
      margin-bottom: 1rem;
      max-width: 300px; }
      .hero-section .text-section .hero-title h1 {
        line-height: 2;
        font-weight: bold; }
        @media (max-width: 776px) {
          .hero-section .text-section .hero-title h1 {
            line-height: 2.2; } }
    .hero-section .text-section .hero-description {
      max-width: 400px;
      margin-bottom: 3rem; }
      .hero-section .text-section .hero-description p {
        font-weight: bold;
        line-height: 1.5;
        color: #6EBDF8; }
  .hero-section .image-section {
    background: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative; }
    .hero-section .image-section img {
      opacity: 0;
      right: -40rem;
      position: absolute;
      max-width: 40rem;
      will-change: right, opacity;
      transition: .3s; }
      @media (max-width: 480px) {
        .hero-section .image-section img {
          max-width: 90vw; } }
      .hero-section .image-section img.animated {
        -webkit-animation-name: showImage;
                animation-name: showImage;
        -webkit-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-delay: .9s;
                animation-delay: .9s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out; }
        @media (max-width: 776px) {
          .hero-section .image-section img.animated {
            -webkit-animation-name: showImageTablet;
                    animation-name: showImageTablet; } }
        @media (max-width: 480px) {
          .hero-section .image-section img.animated {
            -webkit-animation-name: showImageMobile;
                    animation-name: showImageMobile; } }

@media (max-width: 776px) {
  .hero-section .text-section {
    width: 100%; }
    .hero-section .text-section .hero-title {
      max-width: 400px; }
    .hero-section .text-section p {
      font-size: 1.2rem; }
    .hero-section .text-section h1 {
      font-size: 2.4rem; }
  .hero-section .image-section {
    width: 0; }
    .hero-section .image-section img {
      bottom: 6rem; } }

@media (max-width: 480px) {
  .hero-section .text-section .hero-title, .hero-section .text-section .hero-description {
    max-width: 95vw; }
  .hero-section .text-section .hero-description {
    margin-bottom: 2rem; }
  .hero-section .text-section .btn:first-of-type {
    margin-right: 100%; }
  .hero-section .text-section .btn:last-of-type {
    margin-top: 1rem; } }

@-webkit-keyframes fullWidth {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes fullWidth {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@-webkit-keyframes showImage {
  0% {
    opacity: 0;
    right: -40rem; }
  100% {
    right: 6rem;
    opacity: 1; } }

@keyframes showImage {
  0% {
    opacity: 0;
    right: -40rem; }
  100% {
    right: 6rem;
    opacity: 1; } }

@-webkit-keyframes showImageTablet {
  0% {
    opacity: 0;
    right: -40rem; }
  100% {
    right: 2rem;
    opacity: 1; } }

@keyframes showImageTablet {
  0% {
    opacity: 0;
    right: -40rem; }
  100% {
    right: 2rem;
    opacity: 1; } }

@-webkit-keyframes showImageMobile {
  0% {
    opacity: 0;
    right: -40rem; }
  100% {
    right: 0rem;
    opacity: 1; } }

@keyframes showImageMobile {
  0% {
    opacity: 0;
    right: -40rem; }
  100% {
    right: 0rem;
    opacity: 1; } }

.about-section {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  z-index: 1;
  background-color: white; }
  @media (min-width: 776px) {
    .about-section {
      height: calc( 100vh - 1rem);
      border-top: 0.5rem solid white; } }
  @media (max-width: 776px) {
    .about-section {
      padding: 4rem; } }
  @media (max-width: 480px) {
    .about-section {
      padding: 2rem; } }

.about-section-wrap {
  width: 1000px;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .about-section-wrap .text-wrap {
    width: 60%;
    position: absolute;
    left: 40%; }
    .about-section-wrap .text-wrap p {
      color: white;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.5; }

.about-image {
  width: 0;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  will-change: width, transform; }
  @media (max-width: 776px) {
    .about-image {
      height: 50vw; } }
  .about-image.animated {
    -webkit-animation-name: fullWidthOversized;
            animation-name: fullWidthOversized;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
    @media (max-width: 776px) {
      .about-image.animated {
        -webkit-animation-name: fullWidthOversizedMobile;
                animation-name: fullWidthOversizedMobile; } }

@media (max-width: 720px) {
  .about-section-wrap .text-wrap {
    margin-top: 6rem;
    position: static;
    margin-left: 6rem;
    width: calc( 100% - 10rem); }
    .about-section-wrap .text-wrap p {
      font-size: 1rem; }
  .about-section-wrap .about-image {
    position: absolute; } }

@media (max-width: 480px) {
  .about-section-wrap .text-wrap {
    margin-top: 2rem;
    margin-left: 2rem;
    width: calc( 100% - 2rem); } }

@-webkit-keyframes fullWidthOversized {
  0% {
    width: 0; }
  100% {
    width: 500px; } }

@keyframes fullWidthOversized {
  0% {
    width: 0; }
  100% {
    width: 500px; } }

@-webkit-keyframes fullWidthOversizedMobile {
  0% {
    width: 0; }
  100% {
    width: 50vw; } }

@keyframes fullWidthOversizedMobile {
  0% {
    width: 0; }
  100% {
    width: 50vw; } }

.philosophy-section {
  background: black;
  box-sizing: border-box;
  z-index: 2;
  border-top: 1rem solid white;
  border-right: 1rem solid white;
  border-bottom: 1rem solid white;
  border-left: 1rem solid white;
  padding: 2rem; }
  @media (min-width: 776px) {
    .philosophy-section {
      height: 100vh;
      padding: 6rem;
      border-top: 2rem solid white;
      border-right: 1.5rem solid white;
      border-bottom: 2rem solid white;
      border-left: 1.5rem solid white; } }
  .philosophy-section h1 {
    color: white;
    font-size: 4rem;
    margin-top: 0; }
    @media (max-width: 776px) {
      .philosophy-section h1 {
        font-size: 2.5rem; } }
  .philosophy-section .philosophy-description {
    font-weight: 500;
    max-width: 35rem;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
    transition: 2s;
    will-change: opacity; }
    .philosophy-section .philosophy-description.animated {
      opacity: 1; }

.services-section {
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #F2F2F2; }
  .services-section .btn {
    background: #F2F2F2;
    margin: auto; }
    .services-section .btn:before {
      background: #F2F2F2; }

.services-title {
  z-index: 999;
  font-size: 4rem;
  width: 100%;
  display: inline-block;
  transition: 1s;
  opacity: 0;
  will-change: opacity, transform;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  text-decoration: underline; }
  .services-title.animated {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem); }
  @media (max-width: 776px) {
    .services-title {
      font-size: 2rem; } }

.services-wrap {
  width: 100%;
  box-sizing: border-box;
  margin: auto; }

.other-services {
  text-align: center;
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  font-size: 2rem;
  position: relative;
  font-weight: 200; }
  @media (max-width: 480px) {
    .other-services {
      width: 100%;
      max-width: 320px;
      font-size: 1.5rem; } }
  .other-services:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    top: 0;
    will-change: height;
    transition: 1s; }
  .other-services.animated:after {
    height: 0; }

.service-unit {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .service-unit:nth-child(even) {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
    .service-unit:nth-child(even) .service-description {
      left: 0; }

.service-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 0;
  height: 40vw;
  transition: 1s;
  will-change: width; }
  .service-image.animated {
    width: 60vw; }

.service-description {
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 0; }
  .service-description p {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6; }
    @media (max-width: 768px) {
      .service-description p {
        font-size: 1rem;
        line-height: 1.2; } }

.contact-section {
  padding: 1.5rem;
  background-color: white;
  margin-bottom: 16rem;
  min-height: 100vh;
  box-sizing: border-box; }

.contact-wrap {
  max-width: 725px;
  margin: auto; }

.contact-section-title {
  font-size: 4rem;
  text-align: center; }
  @media (max-width: 776px) {
    .contact-section-title {
      font-size: 2rem; } }

form {
  width: 100%;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  form .btn {
    margin-left: auto; }

.form-item-wrap {
  display: inline-block;
  box-sizing: border-box; }
  .form-item-wrap label {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    color: black; }
  .form-item-wrap input, .form-item-wrap textarea {
    font-size: 1rem;
    box-sizing: border-box;
    padding: .8rem;
    border: 0.4rem solid black;
    width: 100%;
    transition: .3s;
    font-weight: 700; }
    .form-item-wrap input:focus, .form-item-wrap textarea:focus {
      outline: none; }

.w-50 {
  width: 49%; }

.w-100 {
  width: 100%; }

@media (max-width: 768px) {
  .why-page .hero-section {
    padding: 2rem; } }

.why-page .hero-section .text-section h1 {
  font-size: 4rem;
  margin: 0; }
  @media (max-width: 480px) {
    .why-page .hero-section .text-section h1 {
      font-size: 2rem; } }
  .why-page .hero-section .text-section h1 strong {
    display: block;
    font-size: 8rem; }
    @media (max-width: 480px) {
      .why-page .hero-section .text-section h1 strong {
        font-size: 4rem; } }

.why-page .hero-section .text-section .hero-description {
  max-width: 100%; }
  .why-page .hero-section .text-section .hero-description p {
    color: black;
    font-weight: 300; }

.why-page .hero-section .text-section:before {
  background-color: white; }

.why-page .hero-section .image-section img {
  transition-delay: 0s; }
  @media (max-width: 768px) {
    .why-page .hero-section .image-section img {
      margin-right: -2rem; } }
  .why-page .hero-section .image-section img.animated {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }

@media (max-width: 768px) {
  .products-and-services-page .hero-section {
    padding: 2rem; } }

.products-and-services-page .hero-section .text-section h1 {
  font-size: 4rem;
  margin: 0; }
  @media (max-width: 480px) {
    .products-and-services-page .hero-section .text-section h1 {
      font-size: 2rem; } }
  .products-and-services-page .hero-section .text-section h1 strong {
    display: block;
    font-size: 8rem; }
    @media (max-width: 480px) {
      .products-and-services-page .hero-section .text-section h1 strong {
        font-size: 4rem; } }

.products-and-services-page .hero-section .text-section .hero-description {
  max-width: 100%; }
  .products-and-services-page .hero-section .text-section .hero-description p {
    color: black;
    font-weight: 300; }

.products-and-services-page .hero-section .text-section:before {
  background-color: white; }

.products-and-services-page .hero-section .image-section img {
  transition-delay: 0s; }
  @media (max-width: 768px) {
    .products-and-services-page .hero-section .image-section img {
      margin-right: -2rem; } }
  .products-and-services-page .hero-section .image-section img.animated {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }
