.about-section
  width: 100%
  display: flex
  box-sizing: border-box
  @media (min-width: 776px)
    height: calc( 100vh - 1rem )
    margin-top: .5rem
    margin-bottom: .5rem
    border-top: .5rem solid $white
  @media (max-width: 776px )
    padding: 1rem
.about-section-wrap
  width: 1000px
  margin: auto
  display: flex
  position: relative
  .text-wrap
    width: 60%
    position: absolute
    left: 40%
    p
      color: $white
      font-size: 1.2rem
      font-weight: 400
      line-height: 1.5

.about-image
  width: 0
  height: 500px
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  will-change: width
  @media (max-width: 776px)
    height: 50vw
  &.animated
    animation-name: fullWidthOversized
    animation-duration: 2s
    animation-fill-mode: forwards
    animation-timing-function: cubic-bezier(0, 1.38, 0.92, 1.65)
    @media (max-width: 776px)
      animation-name: fullWidthOversizedMobile



@media (max-width: 776px)
  .about-section-wrap
    .text-wrap
      margin-top: 6rem
      position: static
      margin-left: 6rem
      width: calc( 100% - 6rem)
      p
        font-size: 1rem
    .about-image
      position: absolute




@keyframes fullWidthOversized
  0%
    width: 0
  100%
    width: 500px
@keyframes fullWidthOversizedMobile
  0%
    width: 0
  100%
    width: 50vw