.hero-section
  width: 100%
  box-sizing: border-box
  height: calc( 100vh - 6rem )
  background-color: $white
  display: flex
  overflow: hidden
  @media (min-width: 776px)
    border-bottom: .5rem solid $white
    height: calc( 100vh - 6.5rem )
  @media (max-width: 768px)
    height: calc( 100vh - 5rem )
  .text-section, .image-section
    width: 50%
    height: 100%
  .text-section
    display: flex
    flex-direction: column
    justify-content: space-around
    position: relative
    &:before
      will-change: width
      position: absolute
      display: block
      content: ""
      width: 0
      height: 100%
      background: $primary
    &.animated
      &:before
        animation-name: fullWidth
        animation-duration: 2.5s
        animation-fill-mode: forwards
        animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1) //cubic-bezier(0, 1.38, 1, 0.16)

    .text-section-wrap
      display: block
      width: 100%
      z-index: 999
    .hero-title
      margin-bottom: 1rem
      max-width: 300px
      h1
        line-height: 2
        font-weight: bold
        @media (max-width: 776px)
          line-height: 2.2
    .hero-description
      max-width: 400px
      margin-bottom: 3rem
      p
        font-weight: bold
        line-height: 1.5
        color: $secondary
  .image-section
    background: $white
    display: flex
    flex-direction: column
    justify-content: space-around
    position: relative
    img
      opacity: 0
      right: -40rem
      position: absolute
      max-width: 40rem
      will-change: right, opacity
      transition: .3s
      @media (max-width: 480px)
        max-width: 90vw
      &.animated
        animation-name: showImage
        animation-duration: 2s
        animation-delay: .9s
        animation-fill-mode: forwards
        animation-timing-function: ease-in-out
        @media (max-width: 776px)
          animation-name: showImageTablet
        @media (max-width: 480px)
          animation-name: showImageMobile




@media ( max-width: 776px )
  .hero-section
    .text-section
      width: 100%
      .hero-title
        max-width: 400px
      p
        font-size: 1.2rem
      h1
        font-size: 2.4rem
    .image-section
      width: 0
      img
        bottom: 6rem

@media ( max-width: 480px )
  .hero-section
    .text-section
      .hero-title, .hero-description
        max-width: 95vw
      .hero-description
        margin-bottom: 2rem
      .btn:first-of-type
        margin-right: 100%
      .btn:last-of-type
        margin-top: 1rem




@keyframes fullWidth
  0%
    width: 0%
  100%
    width: 100%

@keyframes showImage
  0%
    opacity: 0
    right: -40rem
  100%
    right: 6rem
    opacity: 1
@keyframes showImageTablet
  0%
    opacity: 0
    right: -40rem
  100%
    right: 2rem
    opacity: 1
@keyframes showImageMobile
  0%
    opacity: 0
    right: -40rem
  100%
    right: 0rem
    opacity: 1