<header class="site-header">
	<div class="logo">
		<h1>{{site.site_logo_string}}</h1>
	</div>
	<nav class="site-navigation">
		<a href="/" 						style="transition-delay: .2s;" class="{% if page.url == '/' %}active{% endif %}">Home</a>
		<a href="{{site.baseurl}}{{site.why_artis_url}}" 				class="{% if page.url == site.why_artis_url %}active{% endif %}" >Why Artis</a>
		<a href="{{site.baseurl}}{{site.products_and_services_url}}" 	class="{% if page.url == site.products_and_services_url %}active{% endif %}" >PRODUCTS & SERVICES</a>
		<a href="{{site.baseurl}}{{site.contact_url}}" 					class="{% if page.url == site.contact_url %}active{% endif %}" >Contact</a>
	</nav>
	<aside class="cta-icon">
		<a href="{{site.cta_btn_url}}">
		<i class="material-icons">
			{{site.cta_btn_icon}}
		</i></a>
	</aside>
</header>

<header class="mobile-header">
	<div class="logo">
		<h1>{{site.site_logo_string}}</h1>
	</div>
	<div class="hamburger-toggle-wrap">
		<div class="hamburger-toggle" data-animate>
			<span></span>
		</div>
	</div>
	<div class="mobile-navigation-wrap">
		<nav class="mobile-navigation">
			<a href="/" 						style="transition-delay: .2s;" class="{% if page.url == '/' %}active{% endif %}">Home</a>
			<a href="{{site.baseurl}}{{site.why_artis_url}}" 				class="{% if page.url == site.why_artis_url %}active{% endif %}" >Why Artis</a>
			<a href="{{site.baseurl}}{{site.products_and_services_url}}" 	class="{% if page.url == site.products_and_services_url %}active{% endif %}" >PRODUCTS & SERVICES</a>
			<a href="{{site.baseurl}}{{site.contact_url}}" 					class="{% if page.url == site.contact_url %}active{% endif %}" >Contact</a>
		</nav>
		<a href="{{site.mobile_cta_btn_url}}" class="btn arrow-btn btn-primary mobile-cta-icon"> <span> {{site.mobile_cta_btn_text}} </span><i class="material-icons">{{site.mobile_cta_btn_icon}}</i></a>
	</div>
</header>